{% extends '_page.html.twig' %}

{% block content %}
  <p>
    このページは管理画面です
  </p>
  <div>
    <a href="{{ url_for('admin_user_list') }}">ユーザ一覧</a>
  </div>
  <div>
    <a href="{{ url_for('admin_quiz_list') }}">問題一覧</a>
  </div>
{% endblock %}
